<!doctype html>
<html>
   <body>
      {% extends "bootstrap/base.html" %}

      {% block content %}
      <h1>Employee Information </h1>
<button type="button" class="btn btn-warning"><a href = "/">Return back to menu</a></button>
      <table class="table table-striped table-bordered">
         <thead class="bg-primary">
            <td>Employee ID</td>
            <td>Employee Name</td>
            <td>Employee Gender</td>
            <td>Employee Phone Number</td>
            <td>Employee Birth Date</td>
         </thead>
         
         {% for row in rows %}
            <tr class="bg-info">
               <td>{{row["empid"]}}</td>
               <td>{{row["empname"]}}</td>
               <td> {{row["empgender"]}}</td>
               <td>{{row['empphone']}}</td>
               <td>{{row['empbdate']}}</td>	
            </tr>
         {% endfor %}
      </table>
      {% endblock %}    
      
      
   </body>
</html>
